@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

@keyframes right-bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(10px);
  }
  60% {
    transform: translateX(5px);
  }
}

.right-animation {
  animation: right-bounce 2s infinite;
}

.bounce-animation {
  animation: bounce 2s infinite;
}


.hide-animation{
  opacity: 0;
  filter: blur(5px);
  transition: all 1s
}

.show-animation{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}