@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

body {
  margin: 0;
}

.ropa-sans {
  font-family: "Ropa Sans", sans-serif;
}

.jetbrains-mono {
  font-family: "JetBrains Mono", monospace;
}

.bg-presentation {
  background-image: url("https://images.unsplash.com/photo-1435575653489-b0873ec954e2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}

.bg-presentationAboutPage {
  background-image: url("https://images.unsplash.com/photo-1577962829664-56f1d70c3767?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=719&q=80");
  background-repeat: no-repeat;
  background-position-y: top;
  background-size: contain;
}

.underline-container {
  position: relative;
}

.underline-text {
  display: inline-block;
}

.underline {
  position: absolute;
  left: 50%; /* center the underline */
  bottom: 10%;
  transform: translateX(-50%); /* center the underline */
  width: 80%; /* width of the underline */
  height: 1px; /* height of the underline */
  background-color: #ffffff; /* color of the underline */
}

.underline-label {
  position: absolute;
  bottom: -20%; /* position of the label below the underline */
  left: 50%; /* center the label */
  transform: translateX(-50%); /* center the label */
}
.gradient {
  display: hidden;
}

@media not all and (min-width: 640px) {
  .gradient {
    color: rgb(0, 0, 0);
    -webkit-mask-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 1)),
      to(rgba(0, 0, 0, 0))
    );
  }

  .underline-label {
    position: absolute;
    bottom: -80%; /* position of the label below the underline */
    left: 145%; /* center the label */
    transform: translateX(-50%); /* center the label */
  }

  .underline {
    position: absolute;
    left: 90%; /* center the underline */
    bottom: 10%;
    width: 180%; /* width of the underline */
    height: 3px; /* height of the underline */
    background-color: #ffffff; /* color of the underline */
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

@keyframes right-bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(10px);
  }
  60% {
    transform: translateX(5px);
  }
}

.right-animation {
  animation: right-bounce 2s infinite;
}

.bounce-animation {
  animation: bounce 2s infinite;
}
